<body class="main-container">
    <div class="r1">
        <img src="./assets/img/lg-login-header.gif">
        <button (click)="navigateTo('login')" class="btn-sign-in"> Sign in</button>
        <button (click)="navigateTo('register')" class="btn-sign-up"> Sign Up</button>
    </div>
    <div class="r2">
        <div class="home-info box-shadow grow">
            <h1>Our Mission</h1>
            <p>
                Blackboard will undergo maintenance every Tuesday from 10:00 pm until 2:00 am Wednesday. During this
                time
                Blackboard may be unavailable to users.

                Turnitin services may be unavailable during their scheduled maintenance windows which are the first and
                third
                Saturday of each month from 7:00 am until 10:00 am PST. An announcement will appear inside Turnitin in
                advance
                when the system will be unavailable for scheduled maintenance.
            </p>
        </div>
        <div class="network box-shadow grow">
            <img class="net" src="./assets/img/lg-net.jpg">
            <h1>Networking</h1>
            <p>
                Blackboard will undergo maintenance every Tuesday from 10:00 pm until 2:00 am Wednesday. During this
                time
                Blackboard may be unavailable to users.

                Turnitin services may be unavailable during their scheduled maintenance windows which are the first and
                third
                Saturday of each month from 7:00 am until 10:00 am PST. An announcement will appear inside Turnitin in
                advance
                when the system will be unavailable for scheduled maintenance. <a class="redirect"
                (click)="navigateTo('login')" >read
                    more</a>
            </p>

        </div>
        <div class="database box-shadow grow">
            <img class="data" src="./assets/img/lg-database.jpg">
            <h1>Databases</h1>
            <p>
                Blackboard will undergo maintenance every Tuesday from 10:00 pm until 2:00 am Wednesday. During this
                time
                Blackboard may be unavailable to users.

                Turnitin services may be unavailable during their scheduled maintenance windows which are the first and
                third
                Saturday of each month from 7:00 am until 10:00 am PST. An announcement will appear inside Turnitin in
                advance
                when the system will be unavailable for scheduled maintenance. <a class="redirect"
                (click)="navigateTo('login')" >read
                    more</a>
            </p>
        </div>
        <div class="general-it box-shadow grow">
            <img class="cyber" src="./assets/img/lg-cyber.jpg">
            <h1>General IT</h1>
            <p>
                Blackboard will undergo maintenance every Tuesday from 10:00 pm until 2:00 am Wednesday. During this
                time
                Blackboard may be unavailable to users.

                Turnitin services may be unavailable during their scheduled maintenance windows which are the first and
                third
                Saturday of each month from 7:00 am until 10:00 am PST. An announcement will appear inside Turnitin in
                advance
                when the system will be unavailable for scheduled maintenance. <a class="redirect"
                (click)="navigateTo('login')" >read
                    more</a>
            </p>
        </div>
        <div class="web-dev box-shadow grow">
            <img class="web" src="./assets/img/lg-web.jpg">
            <h1>Web Development</h1>
            <p>
                Blackboard will undergo maintenance every Tuesday from 10:00 pm until 2:00 am Wednesday. During this
                time
                Blackboard may be unavailable to users.

                Turnitin services may be unavailable during their scheduled maintenance windows which are the first and
                third
                Saturday of each month from 7:00 am until 10:00 am PST. An announcement will appear inside Turnitin in
                advance
                when the system will be unavailable for scheduled maintenance. <a class="redirect"
                (click)="navigateTo('web-development')" >read
                    more</a>
            </p>
        </div>
    </div>
    <div class="r3">
        Created by Team Google Killer. Copyright © 2019.
    </div>
</body>
