<!DOCTYPE html>
<html>

<head>
    <title>Certifications Page</title>
    <link rel="stylesheet" type="text/css" href="aws-dev-cert.component.css">
</head>

<body class="main-body">
    <div class="header">
        <h1>Amazon Web Server Certified Developer</h1>

    </div>
    <div class="navigation-bar">
        <ul>
            <li>
                <a href="Home.html">Home</a>
            </li>
            <li>
                <a href="">CIW</a>
            </li>
            <li>
                <a href="">Adobe Certified Expert</a>
            </li>


        </ul>

    </div>
    <div class="cert-desc">
        <h2> Description</h2>
        <p>

        </p>

    </div>
    <div class="cert-obtain">
        <h2> How to Get It</h2>
        <p>

        </p>
    </div>
    <div class="cert-cost">
        <h2>Cost of Certification</h2>
        <p>

        </p>

    </div>
    <div class="cert-resources">
        <h2>Resource Links</h2>
        <ul>
            <li><a href="###">###</a></li>
            <li><a href="###">###</a></li>
            <li><a href="###">###</a></li>

        </ul>
        

    </div>
    <div class="footer">

    </div>
</body>



</html>
* {
    padding: 0px;
    margin: 0px;
    position: relative;
}

html,
body {
    height: 100%;
    width: 100%;
    


}

.navigation-bar>ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: rgba(14, 13, 13, 0.986);
}

.navigation-bar>ul>li {
    float: left;
    padding: 5px 13%;

}

.navigation-bar>ul>li>a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: white;


}
.main-body{
    background-color: #4f7065;
    display: grid;
    grid-template-rows: .5fr .2fr .3fr .3fr .3fr .3fr .4fr;
    row-gap: 5px;
}
.cert-desc,.cert-obtain,.cert-cost,.cert-resources{
    padding:25px 25px 25px 25px;
    background-color: rgb(153, 184, 212);
    margin:0px 100px 0px 100px;
    
}
.cert-resources>ul>li{
    padding: 5px 0px 0px 5px;
    margin-left:25px;

}
CCNA
<!DOCTYPE html>
<html>

<head>
    <title>Certifications Page</title>
    <link rel="stylesheet" type="text/css" href="ccna-cert.component.css">
</head>

<body class="main-body">
    <div class="header">
        <h1>Cisco Certified Networks Associate</h1>

    </div>
    <div class="navigation-bar">
        <ul>
            <li>
                <a href="Home.html">Home</a>
            </li>
            <li>
                <a href="">CompTIA Network+</a>
            </li>
            <li>
                <a href="/src/app/network/mcsaCert/mcsaCert.component.html">MCSA</a>
            </li>


        </ul>

    </div>
    <div class="cert-desc">
        <h2> Description</h2>
        <p>

        </p>

    </div>
    <div class="cert-obtain">
        <h2> How to Get It</h2>
        <p>

        </p>
    </div>
    <div class="cert-cost">
        <h2>Cost of Certification</h2>
        <p>

        </p>

    </div>
    <div class="cert-resources">
        <h2>Resource Links</h2>
        <ul>
            <li><a href="###">###</a></li>
            <li><a href="###">###</a></li>
            <li><a href="###">###</a></li>

        </ul>
        

    </div>
    <div class="footer">

    </div>
</body>



</html>
