<body class="main-container">
  <div class="r1">
    <img src="./assets/img/lg-login-header.gif">
  </div>
  <div class="r2">
    <div class="r2c1">
      <div class="left-nav">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/cybersecurity">General IT</a></li>
        <li><a routerLink="/networking">Networking</a></li>
        <li><a routerLink="/database">Database</a></li>
        <li><a routerLink="/web-development">Wed Development</a></li>
        <li><a routerLink="/register">Register</a></li>
      </div>
    </div>

    <div class="r2c2">
      <!-- <ng-container *ngIf="profile"> -->
      <mat-card class="example-card">
        <mat-card-content>
          <input class="int-first" [(ngModel)]="profile.first_name" type="text">
          <input class="int-first" [(ngModel)]="profile.last_name" type="text">
          <img class="prof-pic" id="image" [src]="profile.image_url" alt="profile">
          <div class="top-c2">
            <!--Method one to upload-->
            <div *ngIf="selectedFile" class="img-preview-container">
              <div class="img-preview{{selectedFile.status === 'fail' ? '-error' : ''}}"
                (ngStyle)="{'background-image': 'url('+ selectedFile.src + ')'}">
              </div>
              <div *ngIf="selectedFile.pending" class="img-loading-overlay">
                <div class="img-spinning-circle"></div>
              </div>

              <div *ngIf="selectedFile.status === 'ok'" class="alert alert-success">Image Uploaded Succesfuly!</div>
              <div *ngIf="selectedFile.status === 'fail'" class="alert alert-danger">Image Upload Failed!</div>
            </div>
            <label class="image-upload-container btn-bwm">
              <span>Select Image</span>
              <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)">
            </label>
            <!-- Method one to upload-->
            <div class="form-group1 col-md-6">
              <label class="lbl-sect" for="inputCity"><b>City</b></label>
              <input [(ngModel)]="profile.city" type="text" class="form-control" id="inputCity">
            </div>
            <div class="form-group2 col-md-6">
              <label class="lbl-sect" for="inputWork"><b>Job</b></label>
              <input [(ngModel)]="profile.job" type="text" class="form-control" id="inputWork">
            </div>
          </div>
          <div>
            <label class="Info" for="exampleFormControlTextarea1">Experience</label>
            <textarea [(ngModel)]="profile.experience" class="form-control" id="exampleFormControlTextarea1"
              rows="6"></textarea>
          </div>
          <div>
            <label class="Info" for="exampleFormControlTextarea1">Education</label>
            <textarea [(ngModel)]="profile.education" class="form-control" id="exampleFormControlTextarea1"
              rows="6"></textarea>
          </div>
          <div>
            <label class="Info" for="exampleFormControlTextarea1">Certifications</label>
            <textarea [(ngModel)]="profile.certifications" class="form-control" id="exampleFormControlTextarea1"
              placeholder="Certifications" rows="6"></textarea>
          </div>
          <div>
            <label class="Info" for="exampleFormControlTextarea1">Industry</label>
            <textarea [(ngModel)]="profile.industry" class="form-control" id="exampleFormControlTextarea1"
              placeholder="Industry" rows="6"></textarea>
          </div>
          <div>
            <label class="Info" for="exampleFormControlTextarea1">Interests</label>
            <textarea [(ngModel)]="profile.interests" class="form-control" id="exampleFormControlTextarea1"
              placeholder="Interests" rows="6"></textarea>
          </div>

          <mat-card-actions>
            <div>
              <button mat-raised-button class="btn-cancel" routerLink="/profile">Cancel</button>
              <button mat-raised-button class="btn-submit" (click)="updateUserinfo(profile)">Update</button>
              <button mat-raised-button class="btn-submit" (click)="createUserinfo(profile)">Submit</button>
            </div>

          </mat-card-actions>
        </mat-card-content>
      </mat-card>
      <!-- </ng-container> -->
    </div>
    <div class="r2c3">
      <div ngbDropdown class="dropdown">
        <img ngbDropdownToggle type="button" class="dropbtn" src="./assets/img/lg-itcert.gif" alt="User Photo">
        <div ngbDropdownMenu id="myDropdown" class="dropdown-content">
          <a routerLink="/profile">View Profile</a>
          <a routerLink="/edit-profile">Edit Profile</a>
          <a routerLink="/bookmarks">Bookmarks</a>
          <a *ngIf="!currentUser" (click)='logout()'>Sign out</a>
        </div>
      </div>
    </div>
  </div>
  <div class="r3 box-shadow">
    Created by Team Google Killer. Copyright © 2019.
  </div>
</body>