
h2 {
    font-size: 25px;
    font-weight: bold;
    color:black;
    padding: 2px 200px 0px 20px;
    height: 200px;
}
h3 {
    text-align: center;
    font-weight: bold;

}

a {
    text-decoration: none;
    color: white;
}

p {
    font-size: 18px;
    padding: 15px;
}

.box-shadow {
    -webkit-box-shadow: 0px 1px 9px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 9px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 9px -1px rgba(0, 0, 0, 0.75);
}

.main-container {
    display: grid;
    width: 100vw;
    grid-template-rows: 1.5fr 8fr .5fr;
    grid-gap: .5em;
    height: 100%;
}

.r1 {
    width: 100%;
    background-color: gold;
    height: 100px;
    margin-bottom: 20px;

}

.r1>img {
    width: 100%;
    height: 100px;
}
.r1 > a {
    text-decoration: none;
    text-align: center;
    align-self: center;
    padding-top: 5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}
.r2 {
    display: grid;
    grid-template-columns: 1fr 6fr .80fr;
    grid-gap: 1em;
    width: 96%;
    margin-left: 2%;
    max-height: 100%;
}

.r1c1 {
    width: 200px;
}

.r2c3,
.r2c1 {
    background-color: blanchedalmond;
    align-content: center;
}
.left-nav {
    list-style: none;
}

.left-nav>li {
    padding: 15px 7px;
    border: solid greenyellow 1px;
    text-align: center;
    background-color: #3e8e41;
}

.left-nav>li>a {
    display: block;
    color: yellow;
    font-size: 16px;
    font-weight: bold;
    transition-duration: 0.7s;
}
.left-nav>li:hover {
    display: block;
    background-color: darkred;
    color: white;    
}
.r2c2 {
    grid-template-rows: 3.5fr 3fr 3fr 3fr 3fr 3fr ;
    grid-row-gap: .5em;
    background-color: rgb(254, 254, 255);
}
.form-profile {
    width: 100%;
    height: 100%;
}
.Info {
    display: block;
    color: rgb(25, 3, 85);
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
    background-color: lightskyblue;
}
/* .prof-pic  */
.img-preview-container{
    padding: 30px 0px 0px 30px;
    float: left;
    height: 200px;
    width: 200px;
    object-fit: contain;
}
.r3 {
    display: block;
    padding: 10px 0;
    text-align: center;
    width: 100vw;
    margin-top: 20px;
    height: 50px;
    background-color: #004ba1;
    align-items: center;
    color: white;
}

.btn-sign-in {
    float: right;
    width: 100px;
    height: 35px;
    background-color: darkblue;
    color: rgb(77, 25, 25);
    margin-top: -60px;
    margin-right: 80px;
}

.btn-sign-up {
    float: right;
    width: 100px;
    height: 35px;
    background-color: rgb(94, 17, 7);
    color: white;
    margin-top: -60px;
    margin-right: 200px;
}

/* Dropdown Button */
.dropbtn {
    background-color: rgb(5, 36, 56);
    color: white;
    padding: 10px;
    margin: 22px 15px 0px 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    min-width: 80px;
    height: 70px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: lightyellow;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: -15px;
    
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgb(2, 32, 2);
    color: white;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}
.btn-cancel {
    float: right;
    background-color: brown;
    color: white;
    width: 100px;
    height: 40px;
    margin-right: 55px;
    margin-bottom: 20px;
    font-weight: bold;
}
.btn-cancel:hover {
    background-color: darksalmon;
}
.btn-submit {
    float: right;
    background-color: darkgreen;
    color: white;
    width: 100px;
    height: 40px;
    margin-right: 25px;
    margin-top: 50px;
    font-weight: bold;
}
.btn-submit:hover {
    background-color: lime;
}
.form-group1 {
    display: block;
    float: right;
    width: 300px;
    margin-top: -250px;
    margin-right: 580px;
}
.form-group2 {
    display: block;
    float: right;
    width: 300px;
    margin-top: -150px;
    margin-right: 580px;
}
/* .top-c2  */

.image-upload-container{
    display: block;
    padding: 214px 0px 0px 18px;
    width: 250px;
}
.btn-upload {
    background-color: black;
    color: cyan;
    margin: 5px 10px 5px 100px;
    width: 80px;
}
.lbl-sect {
    background-color: rgb(149, 202, 235);
}
.image-upload-container {
    cursor: pointer;
}
.img-preview-container {
    background-color: #3e8e41;
    position: relative;
}
.img-preview {
    display: none;
}
.int-first  {
 display: block;
 width: 200px;
}