<body class="main-body">
    <div class="header-logo">
        <img src="./assets/img/lg-login-header.gif">

    </div>
    <div class="navigation-bar">
            <div class="navigation-bar">
                    <ul>
                            <li><a routerLink="/home">Home</a></li>
                            <li><a routerLink="/profile">Profile</a></li>
                            <li><a routerLink="/network">Networking</a></li>
                            <li><a routerLink="/database">Database</a></li>
                            <li><a routerLink="/cybersecurity">General IT</a></li>
                            <li><a class="web-dev" routerLink="/web-development">Web Dev.</a></li>
                            <li><a *ngIf="!currentUser" (click)='logout()'>Sign out</a></li>
                        </ul>
                </div>
            
    </div>

    <div class="category-content">
        <h2 class="cert-title grow box-shadow">
            Web Development
        </h2>
        <div class="description grow box-shadow">
                <h2 class="description-title">
                   Description
               </h2>
               <p>
                   Blackboard will undergo maintenance every Tuesday from 10:00 pm until 2:00 am Wednesday. During this time
                   Blackboard may be unavailable to users. Turnitin services may be unavailable during their scheduled
                   maintenance windows which are the first and third Saturday of each month from 7:00 am until 10:00 am PST. An
                   announcement will appear inside Turnitin in advance when the system will be unavailable for scheduled
                   maintenance
                   Blackboard will undergo maintenance every Tuesday from 10:00 pm until 2:00 am Wednesday. During this time
                   Blackboard may be unavailable to users. Turnitin services may be unavailable during their scheduled
                   maintenance windows which are the first and third Saturday of each month from 7:00 am until 10:00 am PST. An
                   announcement will appear inside Turnitin in advance when the system will be unavailable for scheduled
                   maintenance
       
               </p>
           </div>
    </div>
    <div class="cert-links grow box-shadow">
        <h2>Web Development Certifications</h2>
        <table class="gallery-table" >
                <tr>
                    <td>
                            <img src="./assets/img/adobe_expert.jpg" class="cert-img">
                            <a [routerLink]="['/ace-cert']" class="ace">Adobe Certified Expert</a>
                    </td>
                    <td>
                            <img src="./assets/img/CIW - Web Development Professional.jpg" class="cert-img">
                            <a [routerLink]="['/ciw-cert']" class="ciw">Web Development Proffesional</a>
                    </td>
                    <td>
                            <img src="./assets/img/aws.png" class="cert-img">
                            <a [routerLink]="['/aws-cert']" class="aws">AWS Certified</a>
                    </td>
    
                </tr>
            </table>
    </div>
    <div class="footer-text box-shadow">
        <p>
            Created by Team Google Killer. Copyright © 2019.
        </p>

    </div>
</body>
