<body class="main-container">
  <div class="r1">
    <img class="login-logo box-shadow" src="./assets/img/lg-login-header.gif">
  </div>
  <div class="r2">
    <div class="r2c1">
    </div>
    <div class="r2c2">
      <form class="login-form box-shadow">
        <div class="login-logo">
          <img src="../../assets/img/lg-itcert.gif" alt="logo">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1" class="lbl-info">Email</label>
          <input [(ngModel)]= "user.email" name="email" type="email" class="login-input" placeholder="email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1" class="lbl-info">Password</label>
          <input [(ngModel)]= "user.password" name="password"  type="password" class="login-input" placeholder="password">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Remember Me?</label>
        </div>
        <button mat-raised-button class="btn-signup" (click)= "login(user)">Join now</button>
      </form>
    </div>
    <div class="r2c3">
    </div>
  </div>
  <div class="r3 box-shadow">
      Created by Team Google Killer. Copyright © 2019.
  </div>
</body>