* 
a {
    text-decoration: none;
}
.main-container {
    display: grid;
    width: 100vw;
    grid-template-rows: 1fr 8fr .5fr;
    grid-gap: .5em;
    height: 100%;
}

.r1 {
    width: 100%;
    background-color: gold;
    height: 100px;
    margin-bottom: 20px;

}

.r1>img {
    width: 100%;
    height: 100px;
}
.r1 > a {
    text-decoration: none;
    text-align: center;
    align-self: center;
    padding-top: 5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}
.r2 {
    display: grid;
    grid-template-columns: .025fr 8fr .025fr;
    width: 80%;
    margin-left: 10%;
    height: 700px;
}

.r2c3,
.r2c1 {
    background-color: blanchedalmond;
    align-content: center;
}
.r2c2 {
    display: grid;
    background-color: lightcyan;
}
.r3 {
    display: block;
    padding-top: 20px;
    text-align: center;
    width: 100vw;
    margin-top: 20px;
    height: 50px;
    background-color: rgb(17, 12, 12);;
    align-items: center;
    color: white;

}
.login-form {
    display: grid;
    justify-self: center;
    align-self: center;
    align-content: center;
    width: 550px;
    height: 600px;
    background-color: rgb(181, 236, 210);
    padding: 5px 15px;
    margin-top:-5px;
}
.login-form > .login-logo > img {
    width: 250px;
    height: 250px;
    margin: 20px 20px 20px 130px; 
}

.lbl-info {
    font-size: 18px;
    width: 330px;
    justify-self: left;
    margin: 0px 30px 10px 60px;
}

.btn-signup {
    width: 350px;
    float: right;
    justify-self: right;
    font-weight: bold;
    font-size: 15px;
    background-color: darkblue;
    color: yellow;
    margin: 10px 80px 15px 50px;
    height: 50px;
}

.login-input {
    padding: 12px;
    font-size: 12px;
    width: 400px;
    justify-self: left;
    margin: -20px 45px 0px 60px;
}
.form-check-input {
    margin-left: 40px;
}
.form-check-label {
    margin-left: 60px;
}