
<body class="main-body">
  <div class="header-logo">
      <img src="./assets/img/lg-login-header.gif">

  </div>
  <div class="navigation-bar">
      <ul>
          <li><a (click)="navigateTo('home')">Home</a></li>
          <li><a (click)="navigateTo('cybersecurity')">General IT</a></li>
          <li>
              <a href="WebDev.html">Web Development</a>
          </li>
          <li>
              <a href="Networking.html">Networking</a>
          </li>
          <li>
              <a href="Database.html">Database</a>
          </li>


      </ul>
  </div>

  <div class="category-content">
      <h2 class="cert-title">
          Database
      </h2>
      <h2 class="description-title">
          Description
      </h2>
      <p>
          Blackboard will undergo maintenance every Tuesday from 10:00 pm until 2:00 am Wednesday. During this time
          Blackboard may be unavailable to users. Turnitin services may be unavailable during their scheduled
          maintenance windows which are the first and third Saturday of each month from 7:00 am until 10:00 am PST. An
          announcement will appear inside Turnitin in advance when the system will be unavailable for scheduled
          maintenance
          Blackboard will undergo maintenance every Tuesday from 10:00 pm until 2:00 am Wednesday. During this time
          Blackboard may be unavailable to users. Turnitin services may be unavailable during their scheduled
          maintenance windows which are the first and third Saturday of each month from 7:00 am until 10:00 am PST. An
          announcement will appear inside Turnitin in advance when the system will be unavailable for scheduled
          maintenance

      </p>
  </div>
  <div class="cert-links">
      <h2>Database Certifications</h2>
      <a href="#" class="orcl-prof-href"><img src="./assets/img/orcl-cert-professional.png" class="cert-img"></a>
      <a href="#" class="orcl-assoc-href"><img src="./assets/img/orcl_cert_assoc.jpg" class="cert-img"></a>
      <a href="#" class="ibm-db2-href"><img src="./assets/img/ibm-db2.png" class="cert-img"></a>

  </div>
  <div class="footer-text">
      <p>
          Created by Team Google Killer. Copyright @2019.
      </p>

  </div>

</body>