*
.box-shadow {
    -webkit-box-shadow: 0px 1px 9px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 9px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 9px -1px rgba(0, 0, 0, 0.75);
}
.header-logo>img {
    height: 100px;
    width: 100%;

}

.navigation-bar>ul {
    list-style-type: none;
    overflow: hidden;
    background-color: rgba(14, 13, 13, 0.986);
}

.navigation-bar>ul>li {
    float: left;
    padding: 5px 2%;
    border:solid 1px green;
    width: 210px;
}

.navigation-bar>ul>li>a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.category-content {
    margin-left: 7%;
    margin-right: 7%;


}

.cert-title,
.description-title,
.category-content>p {
    background-color: rgb(153, 184, 212);
}

.category-content>p {
    padding-bottom: 15px;
}

.cert-title {
    font-size: 36px;
    padding-bottom: 10px;
    text-align: center;
}

.description-title,
.category-content>p {
    padding-left: 15px;
    text-align: left;
}

.description-title {
    font-size: 24px;
    padding-bottom: 10px;
}

.cert-img {
    max-width: 150px;
    max-height: 150px;
    border-style: inset;
    border-color: black;
    border-radius: 15px;
    border-spacing: 2px;
    margin: 13px 150px 70px 150px;

}

.cert-links {
    margin: 0px 7%;
    background-color: rgb(153, 184, 212);
    padding-bottom:20px;
}

.cert-links>a {
    padding: 0px 11%;

}

.cert-links>h2 {
    padding-top:20px;
    padding-bottom:30px;
    padding-left:15px;
}
.footer-text {
    display: block;
    padding: 10px 0;
    text-align: center;
    width: 100vw;
    margin-top: 20px;
    height: 50px;
    background-color: #004ba1;
    align-items: center;
    color: white;
    font-size: 20px;
}
.gallery-table>tbody>tr {
    text-align: center;
    height: 100px;
    

}

.gallery-table>tbody>tr>td {
    font-size: 13px;
    color: rgb(233, 19, 19);
}
.gallery-table>tbody>tr>td>a {
    font-size: 20px;
    color: red;
    font-weight: bold;
    margin-top: 5px;
}

.gallery-table>tbody>tr>td>img {
    width: 80%;
    align-content: center;
    padding: 2px;
    margin-bottom: 5px; 
}