<!DOCTYPE html>
<html>

<head>
    <title>Certifications Page</title>

</head>

<body class="main-body">
    <div class="header">
      
        <h1>CompTIA Network +</h1>

    </div>
    <div class="navigation-bar">
        <ul>
            <li>
                <a routerLink="">Home</a>
            </li>
            <li>
                <a routerLink="/ccna-cert">CCNA</a>
            </li>
            <li>
                <a routerLink="/mcsa-cert">MCSA</a>
            </li>


        </ul>

    </div>
    <div class="cert-desc">
        <h2> Description</h2>
        <p>

        </p>

    </div>
    <div class="cert-obtain">
        <h2> How to Get It</h2>
        <p>

        </p>
    </div>
    <div class="cert-cost">
        <h2>Cost of Certification</h2>
        <p>

        </p>

    </div>
    <div class="cert-resources">
        <h2>Resource Links</h2>
        <ul>
            <li><a href="###">###</a></li>
            <li><a href="###">###</a></li>
            <li><a href="###">###</a></li>

        </ul>
        

    </div>
    <div class="footer">

    </div>
</body>



</html>
