<body class="main-container">
    <div class="r1">
        <img src="./assets/img/lg-login-header.gif">
    </div>
    <div class="r2">
        <div class="r2c1">
                <div class="list-group box-shadow">
                        <a routerLink="/home" class="list-group-item list-group-item-action">Home</a>
                        <a routerLink="/cybersecurity" class="list-group-item list-group-item-action">General IT</a>
                        <a routerLink="/network" class="list-group-item list-group-item-action">Networking</a>
                        <a routerLink="/database" class="list-group-item list-group-item-action">Database</a>
                        <a routerLink="/web-development" class="list-group-item list-group-item-action">Web Development</a>
                        <a routerLink="/register" class="list-group-item list-group-item-action">Register</a>
                      </div>
        </div>

        <div class="r2c2">
            <mat-card class="example-card box-shadow" *ngIf="profile">
                <mat-card-content>
                    <div>
                        <input class="int-first" [(ngModel)]="profile.first_name" disabled type="text">
                        <input class="int-first" [(ngModel)]="profile.last_name" disabled type="text">
                        <img class="prof-pic" src="./assets/img/prof-pic.png" alt="profile" id="image">
                        <div class="form-group1 col-md-6">
                            <label for="inputCity"><b>Current City</b></label>
                            <input [(ngModel)]="profile.city" disabled type="text" class="form-control" id="city">
                        </div>
                        <div class="form-group2 col-md-6">
                            <label for="inputWork"><b>Current Job</b></label>
                            <input [(ngModel)]="profile.job" disabled type="text" class="form-control" id="Work">
                        </div>
                    </div>
                    <div>
                        <label class="Info" for="exampleFormControlTextarea1"><b>Experience</b></label>
                        <textarea [(ngModel)]="profile.experience" disabled class="form-control"
                            id="exampleFormControlTextarea1" rows="6"></textarea>
                    </div>
                    <div>
                        <label class="Info" for="exampleFormControlTextarea1"><b>Education</b></label>
                        <textarea [(ngModel)]="profile.education" disabled class="form-control"
                            id="exampleFormControlTextarea1" rows="6"></textarea>
                    </div>
                    <div>
                        <label class="Info" for="exampleFormControlTextarea1"><b>Certifications</b></label>
                        <textarea [(ngModel)]="profile.certifications" disabled class="form-control"
                            id="exampleFormControlTextarea1" rows="6"></textarea>
                    </div>
                    <div>
                        <label class="Info" for="exampleFormControlTextarea1"><b>Industry</b></label>
                        <textarea [(ngModel)]="profile.industry" disabled class="form-control"
                            id="exampleFormControlTextarea1" rows="6"></textarea>
                    </div>
                    <div>
                        <label class="Info" for="exampleFormControlTextarea1"><b>Interests</b></label>
                        <textarea [(ngModel)]="profile.interests" disabled class="form-control"
                            id="exampleFormControlTextarea1" rows="6"></textarea>
                    </div>
                </mat-card-content>
            </mat-card>

        </div>
        <div class="r2c3 box-shadow">
            <div ngbDropdown class="dropdown">
                <img ngbDropdownToggle type="button" class="dropbtn" src="./assets/img/lg-itcert.gif" alt="User Photo">
                <div ngbDropdownMenu id="myDropdown" class="dropdown-content">
                    <a routerLink="/profile">View Profile</a>
                    <a routerLink="/edit-profile">Edit Profile</a>
                    <a routerLink="/bookmarks">Bookmarks</a>
                    <a *ngIf="!currentUser" (click)='logout()'>Sign out</a>
                </div>
            </div>
        </div>
    </div>
    <div class="r3 box-shadow">
        Created by Team Google Killer. Copyright © 2019.
    </div>
</body>