<body class="main-container">
  <div class="r1">
    <img src="./assets/img/lg-login-header.gif">
  </div>
  <div class="r2">
    <div class="r2c1">
      <div class="left-nav">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/cybersecurity">General IT</a></li>
        <li><a routerLink="/network">Networking</a></li>
        <li><a routerLink="/database">Database</a></li>
        <li><a routerLink="/web-development">Wed Development</a></li>
      </div>
    </div>

    <div class="r2c2">
        <button class="add-bookmark" (click)="createBookmark()">Add a New Bookmark</button>
      <div class="gallery-grid">
      <mat-card class="example-card" *ngFor="let bookmark of profiles; let i = index">
        <mat-card-content>
          <!-- <div class="b-content">
            <label class="Info" for="id">ID</label>
            <input [(ngModel)]="bookmark.id" disabled class="form-control" type="text" id="id" placeholder="ID" rows="1">
          </div> -->
          <div>
            <label class="Info" for="boormark_name">Bookmark Name</label>
            <input [(ngModel)]="bookmark.bookmark_name" class="form-control" type="text" id="boormark_name"
              placeholder="Bookmark_name" rows="6">
          </div>
          <div>
            <label class="Info" for="bookmark_date">Bookmark Date</label>
            <input [(ngModel)]="bookmark.bookmark_date" class="form-control" type="text" id="bookmark_date"
              placeholder="Bookmark_date" rows="6">
          </div>
          <!-- <div>
            <label class="Info" for="certification_id">Certification ID</label>
            <input [(ngModel)]="bookmark.certification_id" class="form-control" type="text" id="certification_id"
              placeholder="Certification_id" rows="6">
          </div>
          <div>
            <label class="Info" for="userinfo_id">User Information ID</label>
            <input [(ngModel)]="bookmark.userinfo_id" class="form-control" type="text" id="userinfo_id"
              placeholder="Userinfo_id" rows="6">
          </div> -->
        </mat-card-content>
        <mat-card-actions>
          <div>
            <button  class="btn-group1" (click)="updateBookmark(bookmark)">Save</button>
            <button class="btn-group2"   (click)="removeBookmark(bookmark, i)">Delete</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
    </div>
    <div class="r2c3">
      <div ngbDropdown class="dropdown">
        <img ngbDropdownToggle type="button" class="dropbtn" src="./assets/img/lg-itcert.gif" alt="User Photo">
        <div ngbDropdownMenu id="myDropdown" class="dropdown-content">
          <a routerLink="/profile">View Profile</a>
          <a routerLink="/edit-profile">Edit Profile</a>
          <a routerLink="/bookmarks">Bookmarks</a>
          <a *ngIf="!currentUser" (click)='logout()'>Sign out</a>
        </div>
      </div>
    </div>
  </div>
  <div class="r3">
      Created by Team Google Killer. Copyright @2019.
  </div>
</body>