
<body class="main-body">
        <div class="header">
            <img src="./assets/img/comptiaA+.png" class="cert-img">
            <img src="./assets/img/Lono-name.gif" class="logo">
      </div>
        <div class="navigation-bar">
            <ul>
                <li>
                    <a routerLink="/home">Home</a>
                </li>
                <li>
                    <a routerLink="/mta-cert">MTA</a>
                </li>
                <li>
                    <a routerLink="/comp-tia-linux">CompTIA Linux</a>
                </li>
    
    
            </ul>
    
        </div>
        <h3 class="cert-title">CompTIA A+</h3>
        <div class="cert-desc">
            
            <h5> Description</h5>
            <p>
    
            </p>
    
        </div>
        <div class="cert-obtain">
            <h5> How to Get It</h5>
            <p>
    
            </p>
        </div>
        <div class="cert-cost">
            <h5>Cost of Certification</h5>
            <p>
    
            </p>
    
        </div>
        <div class="cert-resources">
            <h5>Resource Links</h5>
            <ul>
                <li><a href="###">###</a></li>
                <li><a href="###">###</a></li>
                <li><a href="###">###</a></li>
    
            </ul>
            
    
        </div>
        <div class="footer">
    
        </div>
    </body>